<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js"></script>


</head>

<body>

    <div class="row">
        <div class="col-6 div1">
            <h3>Enter code to call super hero</h3>
            <input type="text" name="code" id="code" class="form-control" placeholder="eg: 0 25465321" readonly>

            <table>
                <tr>
                    <td>
                        <button id="one" value="1" onclick="showtext(id)">
                            <h3>1</h3>
                            <h6>@.?</h6>
                        </button>
                    </td>
                    <td>
                        <button id="two" value="2" onclick="showtext(id)">
                            <h3>2</h3>
                            <h6>ABC</h6>
                        </button>
                    </td>
                    <td>
                        <button id="three" value="3" onclick="showtext(id)">
                            <h3>3</h3>
                            <h6>DEF</h6>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="four" value="4" onclick="showtext(id)">
                            <h3>4</h3>
                            <h6>GHI</h6>
                        </button>
                    </td>
                    <td>
                        <button id="five" value="5" onclick="showtext(id)">
                            <h3>5</h3>
                            <h6>JKL</h6>
                        </button>
                    </td>
                    <td>
                        <button id="six" value="6" onclick="showtext(id)">
                            <h3>6</h3>
                            <h6>MNO</h6>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="seven" value="7" onclick="showtext(id)">
                            <h3>7</h3>
                            <h6>PQRS</h6>
                        </button>
                    </td>
                    <td>
                        <button id="eight" value="8" onclick=" showtext(id)">
                            <h3>8</h3>
                            <h6>TUV</h6>
                        </button>
                    </td>
                    <td>
                        <button id="nine" value="9" onclick="showtext(id)">
                            <h3>9</h3>
                            <h6>WXYZ</h6>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="star" value="star" onclick="showtext(id)">
                            <h3>*</h3>
                            <h6>send</h6>
                        </button>
                    </td>
                    <td>
                        <button id="zero" value="0" onclick="showtext(id)">
                            <h3>0</h3>
                            <h6>Zero</h6>
                        </button>
                    </td>
                    <td>
                        <button id="hash" value=" " onclick="showtext(id)">
                            <h3>#</h3>
                            <h6>space</h6>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-6 div2">
            <div class="hero">
                <span id="hero_name"></span>
            </div>
        </div>
    </div>
</body>

</html>